tr {
  height: 50px;
}

td {
  width: calc(100% / 3);
  text-align: center;
}

td:nth-child(3n + 1) {
  text-align: start;
  padding-left: 100px;
}

tr:nth-child(2n) {
  background-color: #fff;
}

tr:nth-child(2n + 1) {
  background-color: rgb(128, 125, 125);
}
