.statistics {
  width: 500px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 80px;
  margin: 0;
}

.stat-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  background-color: red;
}
