.transactionHistory {
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

th {
  background-color: #43bdd5;
  height: 50px;
  color: white;
  text-transform: uppercase;
}

th:first-child {
  text-align: left;
  padding-left: 100px;
}
